main {
    display: flex;
    min-width: 100%;
    justify-content: space-between;
}

.md-header {
    font-family: "Monoton", cursive;
}

.md-section {
    min-width: 45%;
    margin-left: 15px;
}

#editor {
    min-width: 100%;
    min-height: 80vh;
}

#preview {
    margin-top: 0;
}